#wrap {width: 1200px; margin: auto;}

header {height: 100px;}

header .logo {font-size: 20px; font-weight: bold;}

section {height: 500px;}

.box {
    /* flex: 1 1 30%; */
    width: 300px;
}

.tab-text {color: black;}

aside a {color: black;}
aside .menu:hover {background-color: rgb(208, 216, 221);}

.box .title {font-size: 18px; font-weight: bold;}
.box .channel {font-size: 12px; color: gray;}
.box .views {font-size: 14px; color: gray;}

footer {height: 100px;}
.footer-text {font-size: 12px;}